@mixin ss-btn($social-media) {
	@if ($social-media == 'facebook') {
		background-color: $facebook;
		&:before {
			content: '\e041';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'twitter') {
		background-color: $twitter;
		&:before {
			content: '\e040';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'googleplus') {
		background-color: $googleplus;
		&:before {
			content: '\e042';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'pinterest') {
		background-color: $pinterest;
		&:before {
			content: '\e043';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'foursquare') {
		background-color: $foursquare;
		&:before {
			content: '\e044';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'yahoo') {
		background-color: $yahoo;
		&:before {
			content: '\e045';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'skype') {
		background-color: $skype;
		&:before {
			content: '\e046';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'yelp') {
		background-color: $yelp;
		&:before {
			content: '\e047';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'linkedin') {
		background-color: $linkedin;
		&:before {
			content: '\e049';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'soundcloud') {
		background-color: $soundcloud;
		&:before {
			content: '\e04d';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'spotify') {
		background-color: $spotify;
		&:before {
			content: '\e04e';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'youtube') {
		background-color: $youtube;
		&:before {
			content: '\e051';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'vine') {
		background-color: $vine;
		&:before {
			content: '\e054';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'vimeo') {
		background-color: $vimeo;
		&:before {
			content: '\e052';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'instagram') {
		background-color: $instagram;
		&:before {
			content: '\e057';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'tumblr') {
		background-color: $tumblr;
		&:before {
			content: '\e059';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'reddit') {
		background-color: $reddit;
		&:before {
			content: '\e022';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'dribbble') {
		background-color: $dribbble;
		&:before {
			content: '\e023';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'github') {
		background-color: $github;
		&:before {
			content: '\e030';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'twitch') {
		background-color: $twitch;
		&:before {
			content: '\e05a';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'pocket') {
		background-color: $pocket;
		&:before {
			content: '\e01e';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'airbnb') {
		background-color: $airbnb;
		&:before {
			content: '\e00e';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'paypal') {
		background-color: $paypal;
		&:before {
			content: '\e00c';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'flickr') {
		background-color: $flickr;
		&:before {
			content: '\e055';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
}

@mixin ss-btn-light($social-media) {
	@if ($social-media == 'facebook') {
		border: 2px solid $facebook;
		color: $facebook;
		&:before {
			content: '\e041';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'twitter') {
		border: 2px solid $twitter;
		color: $twitter;
		&:before {
			content: '\e040';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'googleplus') {
		border: 2px solid $googleplus;
		color: $googleplus;
		&:before {
			content: '\e042';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'pinterest') {
		border: 2px solid $pinterest;
		color: $pinterest;
		&:before {
			content: '\e043';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'foursquare') {
		border: 2px solid $foursquare;
		color: $foursquare;
		&:before {
			content: '\e044';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'yahoo') {
		border: 2px solid $yahoo;
		color: $yahoo;
		&:before {
			content: '\e045';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'skype') {
		border: 2px solid $skype;
		color: $skype;
		&:before {
			content: '\e046';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'yelp') {
		border: 2px solid $yelp;
		color: $yelp;
		&:before {
			content: '\e047';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'linkedin') {
		border: 2px solid $linkedin;
		color: $linkedin;
		&:before {
			content: '\e049';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'soundcloud') {
		border: 2px solid $soundcloud;
		color: $soundcloud;
		&:before {
			content: '\e04d';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'spotify') {
		border: 2px solid $spotify;
		color: $spotify;
		&:before {
			content: '\e04e';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'youtube') {
		border: 2px solid $youtube;
		color: $youtube;
		&:before {
			content: '\e051';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'vine') {
		border: 2px solid $vine;
		color: $vine;
		&:before {
			content: '\e054';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'vimeo') {
		border: 2px solid $vimeo;
		color: $vimeo;
		&:before {
			content: '\e052';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'instagram') {
		border: 2px solid $instagram;
		color: $instagram;
		&:before {
			content: '\e057';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'tumblr') {
		border: 2px solid $tumblr;
		color: $tumblr;
		&:before {
			content: '\e059';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'reddit') {
		border: 2px solid $reddit;
		color: $reddit;
		&:before {
			content: '\e022';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'dribbble') {
		border: 2px solid $dribbble;
		color: $dribbble;
		&:before {
			content: '\e023';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'github') {
		border: 2px solid $github;
		color: $github;
		&:before {
			content: '\e030';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'twitch') {
		border: 2px solid $twitch;
		color: $twitch;
		&:before {
			content: '\e05a';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'pocket') {
		border: 2px solid $pocket;
		color: $pocket;
		&:before {
			content: '\e01e';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'airbnb') {
		border: 2px solid $airbnb;
		color: $airbnb;
		&:before {
			content: '\e00e';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'paypal') {
		border: 2px solid $paypal;
		color: $paypal;
		&:before {
			content: '\e00c';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
	@elseif ($social-media == 'flickr') {
		border: 2px solid $flickr;
		color: $flickr;
		&:before {
			content: '\e055';
			padding-right: .8em;
			font-size: 1.2em;
		}
	}
}

@mixin ss-btn-icon($social-media) {
	@if ($social-media == 'facebook') {
		background-color: $facebook;
		&:before {
			content: '\e041';
			font-size: 1.5em;
		}
	}
	@elseif ($social-media == 'twitter') {
		background-color: $twitter;
		&:before {
			content: '\e040';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'googleplus') {
		background-color: $googleplus;
		&:before {
			content: '\e042';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'pinterest') {
		background-color: $pinterest;
		&:before {
			content: '\e043';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'foursquare') {
		background-color: $foursquare;
		&:before {
			content: '\e044';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'yahoo') {
		background-color: $yahoo;
		&:before {
			content: '\e045';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'skype') {
		background-color: $skype;
		&:before {
			content: '\e046';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'yelp') {
		background-color: $yelp;
		&:before {
			content: '\e047';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'linkedin') {
		background-color: $linkedin;
		&:before {
			content: '\e049';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'soundcloud') {
		background-color: $soundcloud;
		&:before {
			content: '\e04d';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'spotify') {
		background-color: $spotify;
		&:before {
			content: '\e04e';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'youtube') {
		background-color: $youtube;
		&:before {
			content: '\e051';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'vine') {
		background-color: $vine;
		&:before {
			content: '\e054';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'vimeo') {
		background-color: $vimeo;
		&:before {
			content: '\e052';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'instagram') {
		background-color: $instagram;
		&:before {
			content: '\e057';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'tumblr') {
		background-color: $tumblr;
		&:before {
			content: '\e059';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'reddit') {
		background-color: $reddit;
		&:before {
			content: '\e022';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'dribbble') {
		background-color: $dribbble;
		&:before {
			content: '\e023';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'github') {
		background-color: $github;
		&:before {
			content: '\e030';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'twitch') {
		background-color: $twitch;
		&:before {
			content: '\e05a';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'pocket') {
		background-color: $pocket;
		&:before {
			content: '\e01e';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'airbnb') {
		background-color: $airbnb;
		&:before {
			content: '\e00e';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'paypal') {
		background-color: $paypal;
		&:before {
			content: '\e00c';
			font-size: 1.3em;
		}
	}
	@elseif ($social-media == 'flickr') {
		background-color: $flickr;
		&:before {
			content: '\e055';
			font-size: 1.3em;
		}
	}
}
