@import '_partials/extends';
@import '_partials/mixins';
@import '_partials/vars';

[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ss-btn"]:before,
[class*=" ss-btn"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #f4f4f4;
	font-family: 'socicon';
  display: flex;
  color: #2C3D55;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.buttons {

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 25%;
      padding-bottom: 1.5em;

      @media screen and (max-width: 1280px) {
        width: 30%;
      }

      @media screen and (max-width: 1150px) {
        width: 45%;
      }

      @media screen and (max-width: 880px) {
        width: 70%;
      }

      @media screen and (max-width: 720px) {
        width: 100%;
      }

      @media screen and (max-width: 580px) {
        width: 100%;
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto';
  background-color: #fff;
  width: 16em;
  height: 100%;
  padding: 1em 1.5em;
  position: fixed;
  font-size: .9em;
  border-right: 1px solid rgba(0,0,0,.2);
  box-shadow: 3px 0px 16px -1px rgba(189,189,189,.8);

  .toggle-menu {
    display: none;

    @media screen and (max-width: 580px) {
      display: inline-block;
      background: none;
      border: none;
      font-size: 1.8em;
      height: 100%;
      line-height: 1.1;
      cursor: pointer;
    }
  }

  .upper-content {
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }

  h4 {
    font-size: 1.1em;
    padding-top: 1.6em;
    padding-bottom: .5em;

    @media screen and (max-width: 580px) {
      padding-top: .5em;
      margin-left: 1em;
    }
  }

  ul {
    padding-top: .5em;
    list-style: none;

    @media screen and (max-width: 580px) {
      background: #fff;
      width: 130%;
      margin-left: -3em;
      padding-left: 2em;
      margin-top: .8em;
      padding-bottom: 2em;
      border-bottom: 1px solid lightgray;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    transition: 1s;

    @media screen and (max-width: 580px) {
      display: none;
      transition: 1s;
    }
  }

  .hidden {
    display: flex;
    flex-direction: column;
    transition: 1s;
  }

  ul li {
    padding: .6em 0;

    @media screen and (max-width: 580px) {
      padding-bottom: .5em;
    }
  }

  ul li ul {
    padding-top: .5em;

    @media screen and (max-width: 580px) {
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 0;
      border: none;
    }
    li {
      padding: .7em 0;
    }
  }

  .how-to-use {
    font-size: .9em;
  }

  .line {
    border-top: 1px solid lightgray;
    margin-top: 1em;
  }

  .nonlink {
    padding-top: 1.5em;
    font-size: .9em;
    font-weight: 500;
  }

  .download {
    font-size: .9em;
  }

  .social-media-list {
    font-size: .8em;
  }

  a {
    color: #DD2D4A;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: .4px;

    &:hover {
      text-decoration: underline;
    }
  }

  h5 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .7em;
    opacity: .5;
  }

  .lower-content {
    @media screen and (max-width: 580px) {
      display: none;
    }
  }

  @media screen and (max-width: 580px) {
    height: 60px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.container {
  font-family: 'Roboto';
  width: 100%;
  color: #2C3D55;
  margin: 2em 2em 2em 17em;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;

  @media screen and (max-width: 580px) {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em;
  }
}

.header {
  margin-left: 18%;
  margin: 0;
  padding: 2em;
  display: block;
  border-bottom: 1px solid lightgray;

  button {
    margin-top: 3em;
    @media screen and (max-width: 580px) {
      margin: 0 auto;
      margin-top: 2em;
    }
  }

  &__buttons {
    display: flex;
    padding-top: .5em;
  }

  h1 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
    margin-top: .3em;
    font-weight: 400;
  }

  p {
    font-family: 'Lato';
    padding-top: 1.5em;
    font-size: .9em;
    font-weight: 400;
    line-height: 1.5;

    &:first-child {
      padding-top: .5em;
    }

    a {
      text-decoration: none;
      color: darken(darkgray, 80);

      &:hover {
        text-decoration: underline;
      }
    }

    code {
      padding: 0 .5em;
    }
  }
}

.section {
  font-family: 'Roboto';
  padding-left: 2em;
  padding-top: 2em;
  border-bottom: 1px solid lightgray;

  &__heading {
    font-size: 1em;
    padding: .1em 0 1em;
    font-weight: 400;
  }

  &__main-heading {
    padding-bottom: .5em;
  }

  .buttons {
    width: 100%;
    padding: 0 1.5em 2em 0;
  }
}

.highlight {
    width: 100%;
    margin-top: 1em;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    color: #333;
    display: block;

    @media screen and (max-width: 580px) {
      width: 100%;
    }

    &--small {
      width: 90%;
      margin-top: .2em;
      padding: 9px 14px;
      margin-bottom: 1em;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 4px;
      color: #333;
      display: block;
      text-align: center;
      font-size: .9em;
    }
}

.button-list {
  margin-top: 1em;
  list-style: none;
  padding: .5em 0;

  li {
    padding: 1em 0;

    a {
      display: block;
      font-size: 1.1em;
      color: #2C3D55;
      padding-bottom: .5em;
    }

    button {
      margin-bottom: 2em;
    }

    code {
      font-size: 1.1em;
      padding: 0;
    }

    &:first-child {
      padding-top: 1.5em;
    }
  }
}



// ROUNDED

.ss-btn-facebook {
	@extend %ss-btn;
	@include ss-btn('facebook');
}

.ss-btn-twitter {
	@extend %ss-btn;
	@include ss-btn('twitter');
}

.ss-btn-googleplus {
	@extend %ss-btn;
	@include ss-btn('googleplus');
}

.ss-btn-pinterest {
	@extend %ss-btn;
	@include ss-btn('pinterest');
}

.ss-btn-foursquare {
	@extend %ss-btn;
	@include ss-btn('foursquare');
}

.ss-btn-yahoo {
	@extend %ss-btn;
	@include ss-btn('yahoo');
}

.ss-btn-skype {
	@extend %ss-btn;
	@include ss-btn('skype');
}

.ss-btn-yelp {
	@extend %ss-btn;
	@include ss-btn('yelp');
}

.ss-btn-linkedin {
	@extend %ss-btn;
	@include ss-btn('linkedin');
}

.ss-btn-soundcloud {
	@extend %ss-btn;
	@include ss-btn('soundcloud');
}

.ss-btn-spotify {
	@extend %ss-btn;
	@include ss-btn('spotify');
}

.ss-btn-youtube {
	@extend %ss-btn;
	@include ss-btn('youtube');
}

.ss-btn-vine {
	@extend %ss-btn;
	@include ss-btn('vine');
}

.ss-btn-vimeo {
  @extend %ss-btn;
  @include ss-btn('vimeo');
}

.ss-btn-instagram {
  @extend %ss-btn;
  @include ss-btn('instagram');
}

.ss-btn-tumblr {
  @extend %ss-btn;
  @include ss-btn('tumblr');
}

.ss-btn-reddit {
  @extend %ss-btn;
  @include ss-btn('reddit');
}

.ss-btn-dribbble {
  @extend %ss-btn;
  @include ss-btn('dribbble');
}

.ss-btn-github {
  @extend %ss-btn;
  @include ss-btn('github');
}

.ss-btn-twitch {
  @extend %ss-btn;
  @include ss-btn('twitch');
}

.ss-btn-pocket {
  @extend %ss-btn;
  @include ss-btn('pocket');
}

.ss-btn-airbnb {
  @extend %ss-btn;
  @include ss-btn('airbnb');
}

.ss-btn-paypal {
  @extend %ss-btn;
  @include ss-btn('paypal');
}

.ss-btn-flickr {
  @extend %ss-btn;
  @include ss-btn('flickr');
}

// LIGHT

.ss-btn-light-facebook {
	@extend %ss-btn-light;
	@include ss-btn-light('facebook');
}

.ss-btn-light-twitter {
  @extend %ss-btn-light;
  @include ss-btn-light('twitter');
}

.ss-btn-light-googleplus {
  @extend %ss-btn-light;
  @include ss-btn-light('googleplus');
}

.ss-btn-light-pinterest {
  @extend %ss-btn-light;
  @include ss-btn-light('pinterest');
}

.ss-btn-light-foursquare {
  @extend %ss-btn-light;
  @include ss-btn-light('foursquare');
}

.ss-btn-light-yahoo {
  @extend %ss-btn-light;
  @include ss-btn-light('yahoo');
}

.ss-btn-light-skype {
  @extend %ss-btn-light;
  @include ss-btn-light('skype');
}

.ss-btn-light-yelp {
  @extend %ss-btn-light;
  @include ss-btn-light('yelp');
}

.ss-btn-light-linkedin {
  @extend %ss-btn-light;
  @include ss-btn-light('linkedin');
}

.ss-btn-light-soundcloud {
  @extend %ss-btn-light;
  @include ss-btn-light('soundcloud');
}

.ss-btn-light-spotify {
  @extend %ss-btn-light;
  @include ss-btn-light('spotify');
}

.ss-btn-light-youtube {
  @extend %ss-btn-light;
  @include ss-btn-light('youtube');
}

.ss-btn-light-vine {
  @extend %ss-btn-light;
  @include ss-btn-light('vine');
}

.ss-btn-light-vimeo {
  @extend %ss-btn-light;
  @include ss-btn-light('vimeo');
}

.ss-btn-light-instagram {
  @extend %ss-btn-light;
  @include ss-btn-light('instagram');
}

.ss-btn-light-tumblr {
  @extend %ss-btn-light;
  @include ss-btn-light('tumblr');
}

.ss-btn-light-reddit {
  @extend %ss-btn-light;
  @include ss-btn-light('reddit');
}

.ss-btn-light-dribbble {
  @extend %ss-btn-light;
  @include ss-btn-light('dribbble');
}

.ss-btn-light-github {
  @extend %ss-btn-light;
  @include ss-btn-light('github');
}

.ss-btn-light-twitch {
  @extend %ss-btn-light;
  @include ss-btn-light('twitch');
}

.ss-btn-light-pocket {
  @extend %ss-btn-light;
  @include ss-btn-light('pocket');
}

.ss-btn-light-airbnb {
  @extend %ss-btn-light;
  @include ss-btn-light('airbnb');
}

.ss-btn-light-paypal {
  @extend %ss-btn-light;
  @include ss-btn-light('paypal');
}

.ss-btn-light-flickr {
  @extend %ss-btn-light;
  @include ss-btn-light('flickr');
}

// ICONS ONLY

.ss-btn-icon-facebook {
  @extend %ss-btn-icon;
  @include ss-btn-icon('facebook');
}

.ss-btn-icon-twitter {
  @extend %ss-btn-icon;
  @include ss-btn-icon('twitter');
}

.ss-btn-icon-googleplus {
  @extend %ss-btn-icon;
  @include ss-btn-icon('googleplus');
}

.ss-btn-icon-pinterest {
  @extend %ss-btn-icon;
  @include ss-btn-icon('pinterest');
}

.ss-btn-icon-foursquare {
  @extend %ss-btn-icon;
  @include ss-btn-icon('foursquare');
}

.ss-btn-icon-yahoo {
  @extend %ss-btn-icon;
  @include ss-btn-icon('yahoo');
}

.ss-btn-icon-skype {
  @extend %ss-btn-icon;
  @include ss-btn-icon('skype');
}

.ss-btn-icon-yelp {
  @extend %ss-btn-icon;
  @include ss-btn-icon('yelp');
}

.ss-btn-icon-linkedin {
  @extend %ss-btn-icon;
  @include ss-btn-icon('linkedin');
}

.ss-btn-icon-soundcloud {
  @extend %ss-btn-icon;
  @include ss-btn-icon('soundcloud');
}

.ss-btn-icon-spotify {
  @extend %ss-btn-icon;
  @include ss-btn-icon('spotify');
}

.ss-btn-icon-youtube {
  @extend %ss-btn-icon;
  @include ss-btn-icon('youtube');
}

.ss-btn-icon-vine {
  @extend %ss-btn-icon;
  @include ss-btn-icon('vine');
}

.ss-btn-icon-vimeo {
  @extend %ss-btn-icon;
  @include ss-btn-icon('vimeo');
}

.ss-btn-icon-instagram {
  @extend %ss-btn-icon;
  @include ss-btn-icon('instagram');
}

.ss-btn-icon-tumblr {
  @extend %ss-btn-icon;
  @include ss-btn-icon('tumblr');
}

.ss-btn-icon-reddit {
  @extend %ss-btn-icon;
  @include ss-btn-icon('reddit');
}

.ss-btn-icon-dribbble {
  @extend %ss-btn-icon;
  @include ss-btn-icon('dribbble');
}

.ss-btn-icon-github {
  @extend %ss-btn-icon;
  @include ss-btn-icon('github');
}

.ss-btn-icon-twitch {
  @extend %ss-btn-icon;
  @include ss-btn-icon('twitch');
}

.ss-btn-icon-pocket {
  @extend %ss-btn-icon;
  @include ss-btn-icon('pocket');
}

.ss-btn-icon-airbnb {
  @extend %ss-btn-icon;
  @include ss-btn-icon('airbnb');
}

.ss-btn-icon-paypal {
  @extend %ss-btn-icon;
  @include ss-btn-icon('paypal');
}

.ss-btn-icon-flickr {
  @extend %ss-btn-icon;
  @include ss-btn-icon('flickr');
}
