.ss-btn-facebook, .ss-btn-twitter, .ss-btn-googleplus, .ss-btn-pinterest, .ss-btn-foursquare, .ss-btn-yahoo, .ss-btn-skype, .ss-btn-yelp, .ss-btn-linkedin, .ss-btn-soundcloud, .ss-btn-spotify, .ss-btn-youtube, .ss-btn-vine, .ss-btn-light-facebook {
  font-family: 'Open Sans';
  padding: 1.5em;
  border-radius: 30px;
  border: none;
  font-size: .9rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  transition: .1s;
  margin: 1em; }
  .ss-btn-facebook:hover, .ss-btn-twitter:hover, .ss-btn-googleplus:hover, .ss-btn-pinterest:hover, .ss-btn-foursquare:hover, .ss-btn-yahoo:hover, .ss-btn-skype:hover, .ss-btn-yelp:hover, .ss-btn-linkedin:hover, .ss-btn-soundcloud:hover, .ss-btn-spotify:hover, .ss-btn-youtube:hover, .ss-btn-vine:hover, .ss-btn-light-facebook:hover {
    transform: scale(1.03); }

@font-face {
  font-family: "socicon";
  src: url("fonts/socicon.eot");
  src: url("fonts/socicon.eot?#iefix") format("embedded-opentype"), url("fonts/socicon.woff") format("woff"), url("fonts/socicon.ttf") format("truetype"), url("fonts/socicon.svg#socicon") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "socicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="ss-btn"]:before,
[class*=" ss-btn"]:before {
  font-family: "socicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #ececec;
  color: #446CB3;
  font-family: 'socicon'; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  width: 90%;
  margin: 0 auto; }

.icons {
  display: flex;
  flex-flow: row wrap; }

.header {
  margin: 2em 0;
  font-family: 'Lato';
  padding-bottom: 2em;
  border-bottom: 2px solid #446CB3;
  flex: 1; }

.ss-btn-facebook {
  background-color: #3b5998; }
  .ss-btn-facebook:before {
    content: '\e041';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-twitter {
  background-color: #00aced; }
  .ss-btn-twitter:before {
    content: '\e040';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-googleplus {
  background-color: #dd4b39; }
  .ss-btn-googleplus:before {
    content: '\e042';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-pinterest {
  background-color: #cb2027; }
  .ss-btn-pinterest:before {
    content: '\e043';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-foursquare {
  background-color: #0072b1; }
  .ss-btn-foursquare:before {
    content: '\e044';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-yahoo {
  background-color: #7B0099; }
  .ss-btn-yahoo:before {
    content: '\e045';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-skype {
  background-color: #12A5F4; }
  .ss-btn-skype:before {
    content: '\e046';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-yelp {
  background-color: #c41200; }
  .ss-btn-yelp:before {
    content: '\e047';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-linkedin {
  background-color: #007bb5; }
  .ss-btn-linkedin:before {
    content: '\e049';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-soundcloud {
  background-color: #FFA600; }
  .ss-btn-soundcloud:before {
    content: '\e04d';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-spotify {
  background-color: #0AD159; }
  .ss-btn-spotify:before {
    content: '\e04e';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-youtube {
  background-color: #bb0000; }
  .ss-btn-youtube:before {
    content: '\e051';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-vine {
  background-color: #00bf8f; }
  .ss-btn-vine:before {
    content: '\e054';
    padding-right: .5em;
    font-size: 1.3em; }

.ss-btn-light-facebook {
  border: 2px solid #3b5998;
  color: #3b5998;
  background-color: white; }
  .ss-btn-light-facebook:before {
    content: '\e041';
    padding-right: .5em;
    font-size: 1.3em; }

/*# sourceMappingURL=social-share.css.map */
